/* list.css */

/* Full document styling */

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #F8EEE7;
    margin: 0;
}

h1 {
    
    font-weight: 500;
    margin-top: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

main {
    margin: 10px;
}

/* Header styling */

.header-display {
    display: inline;
    text-align: center;
    background-color: #009999;
    color:white;
    font-family: 'Noto Serif', serif;
}

.navbar {
    display: inline;
    text-align: center;
    color:black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(97, 97, 97);
    padding: 5px 0 5px 0;
}

.nav-link {
    font-size: 17px;
    color: rgb(97, 97, 97);
}

.logo-text {
    font-family: 'Roboto', sans-serif;
}

.logo-icon {
    height: 1rem;
}

.logo-container {
    width: 100%;
    text-align: center;
    color: brown;
    font-size: 24px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgb(97, 97, 97);
}

.home-link-container, .search-link-container, .list-link-container {
    text-align: center;
}

.home-link-container, .list-link-container {
    width: 39%;
}

.search-link-container {
    text-align: center;
    width: 20%;
}

.worm {
    color: #d9dcd6;
}

.mobile-navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: #49274A;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.searchLink {
    font-weight: bold;
}

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #94618E;
    color: #ffffff;
    text-align: center;
    height: 100px;
}

header h1 {
    line-height: 60px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 500;
}

a {
    color: #ffffff !important;
    text-decoration: none;
}

.desktopContainer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #94618E;    
    color: #ffffff;
    text-align: center;
    height: 90px;
    padding: 5px 50px;
    display: none;
    justify-content: space-between;
}

.desktopContainer h1 {
    line-height: 60px;
    margin-bottom: 0;
}

.desktop-navbar {
    padding-top: 35px;
    padding-right: 5px;
}

.desktop-navbar a {
    padding-left: 20px;
    padding-right: 20px;
}

header p {
    margin: 0;
    padding-bottom: 10px;
}

.current-search-link {
    font-weight: bold;
}



/* List styling */

.list-container {
}

.list-grid-container {
    display: grid;
    grid-template-columns: 45% 25% 15% 15%;
}

.list-grid-item {
    padding: 5px;
    font-size: 13px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    text-overflow: ellipsis;
}

#list-headers {
    font-weight: bold;
}

.listed-book {
    border: 1px solid rgb(97, 97, 97);
    margin-top: 2px;
    background: white
}

.book-author {
    font-style: italic;
}

.fa-info-circle, .fa-trash-alt {
    font-size: 24px;
}

.buttons-container {
    margin-top: 50px;
    text-align: center;
}

.clearButton {
    max-width: 150px;
    display: inline;
}

#clearBtn {
    width: 65px;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    background-color: red;
}


/* Modal styling */
#date-modal-content {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%; 
    font-family: 'Lato', sans-serif;
    
}

#date-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    height: 100%;
}

#date-modal-close:hover,
#date-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#title-close-container {
    display: grid;
    grid-template-columns: 90% 10%;
}

#date-modal-title {
    font-weight: bold;
    width: 80%;
    float: right;
}

#new-date-container {
    margin-top: 20px;
}

#select-date-guidance, #select-date-warning {
    font-size: 12px;
}

#select-date-warning {
    font-weight: bold;
    color: red;
}

#select-date {
    width: 80px;
    height: 18px;
    margin-top: 5px;
}

#save-button-container {
    text-align: center;
    margin-top: 5px;
}

#saveBtn {
    width: 65px;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    background-color: green;
}


/* Footer styling */

footer {
    text-align: center;
    border-top: 5px solid #20B2AA;
    position: absolute;
    bottom: 0;
    background-color: dimgray;
    color: #ffffff;
    width: 100%;
}


/* Universal styling */

.display-none {
    display: none;
}


/* Responsiveness */
@media (min-width: 480px) and (max-width: 570px) {
    .list-grid-item {
        font-size: 13px;
    }
}

@media (min-width: 420px) and (max-width: 479px) {
    .list-grid-item {
        font-size: 11px;
    }
}


@media screen and (min-width: 768px) {
    
    #is-desktop {
        display: flex;
    }

    #isMobile {
        display: none;
    }

    .bookImage {
        display: block;
    }

    .mainBody {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .searchElements {
        display: flex;
        flex-direction: column;
    }

    .fa-book-reader {
        font-size: 40px;
    }

}