/* list.css */

/* Full document styling */

body {
    margin: 0;
    background-color: gainsboro;
}


/* Header styling */

.header-display {
    display: inline;
    text-align: center;
    background-color: #009999;
    color:white;
    font-family: 'Noto Serif', serif;
}

.navbar {
    display: inline;
    text-align: center;
    color:black;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}

.nav-link {
    font-size: 17px;
    color: rgb(97, 97, 97);
}

.logo-text {
    font-family: 'Roboto', sans-serif;
}

.logo-icon {
    height: 1rem;
}

.logo-container {
    width: 100%;
    text-align: center;
    color: brown;
    font-size: 24px;
    margin: 10px 0 10px 0;
}

.home-link-container, .search-link-container, .list-link-container {
    text-align: center;
}

.home-link-container, .list-link-container {
    width: 39%;
}

.search-link-container {
    text-align: center;
    width: 20%;
}


/* Footer styling */

.footer-main {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
}

.footer-line {
    height:7px;
    background-color: brown;
    margin-bottom: 20px;
}

.footer-text {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
}