html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #F8EEE7;
    margin: 0;
}

/* Formatting of standard text tags */

h1 {
    
    font-weight: 500;
    margin-top: 0;
}

h3 {
    margin-top: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Styling of mobile header/navbar */

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #94618E;
    color: #ffffff;
    text-align: center;
    height: 100px;
    
}

.mobile-navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;    
    background-color: #49274A;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

/* Styling of desktop header/navbar */

.desktopContainer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #94618E;    
    color: #ffffff;
    text-align: center;
    height: 90px;
    padding: 5px 50px;
    display: none;
    justify-content: space-between;
    
}

.desktopContainer h1 {
    line-height: 60px;
    margin-bottom: 0;
}

.desktop-navbar {
    padding-top: 35px;
    padding-right: 5px;
}

.desktop-navbar a {
    padding-left: 20px;
    padding-right: 20px;

}

/* Styling text common to mobile and desktop views */

header h1 {
    line-height: 60px;
    margin-bottom: 0;
    font-weight: 500;
}

.worm {
    color: #d9dcd6;
}

a {
    color: #ffffff !important;
    text-decoration: none;
}

.searchLink {
    font-weight: bold;
}

/* Main body styling */

.mainBody {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;   
    flex: 1; 
    align-items: center;
    padding: 40px 20px;
    background-color: #F8EEE7;    
    
}

.searchElements {
    align-content: center;
    margin-bottom: 30px;
}


#titleSearch {
    padding-bottom: 5px;
}

#authorSearch {
    padding-bottom: 5px;
}

.order {
    padding: 20px 0;    
    
}

.searchButton {
    text-align: center;
    
}

#searchBtn {
    color: #fff !important;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    border-radius: 25px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    
    
}

#searchBtn:hover {

    background-color: blueviolet;

}



/* Search results styling */


.grid-container {
    display: grid;
    grid-template-columns: 25% 45% 15% 15% ;
    padding: 5px 5px;
    font-size: 14px;
    width: 90%;
    
    
}

.book-container {
    border: 1px solid black;
    margin-top: 2px;
}

.columnHeaders {
    font-weight: bold;
    text-align: center;
}

.grid-item {
    padding: 5px;
    vertical-align: middle;
    display: flex;  
    justify-content: center;
    flex-direction: column;
    
}

.fa-info-circle {
    font-size: 24px;
    
    
}

.fa-plus-circle {
    font-size: 24px;
    
}

.image {
    height: 75px;
    width: 50px;
}

footer {
    width: 100%;
    position: absolute;
    text-align: center;
    border-top: 5px solid #20B2AA;    
    bottom: 0;
    background-color: dimgray;
    color: #ffffff;
}

#search-warning {
    color: red;
}

.small-image {
    display: block;
    max-width:67px;
    max-height:100px;
    width: auto;
    height: auto;
}

.large-image {
    display: none;
    max-width:128px;
    max-height:192px;
    width: auto;
    height: auto;
}

.title-text, .author-text {
    text-overflow: ellipsis;
    overflow: hidden;
}

.title-text {
    max-height: 85px;
}

.author-text {
    max-height: 34px;
    font-style: italic;
}

.grid-item button {
    cursor: default;
    background-color: transparent;
    box-sizing: unset;
    margin: 0em;
    padding: 0;
    border-width: 0;
    border-style: unset;
    border-color: unset;
    border-image: unset;
}

#results-summary {
    margin-top: 20px;
    text-align: center;
}

/* Styling More Info modal */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
    
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .new-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-container {
      
    width: 100%;
    border-bottom: 2px solid lightgrey;
    padding-bottom: 20px;
    padding-top: 20px;
    /* margin-bottom: 10px; */
  }

  .title-author-container {
      text-align: center;
  }

  .book-author {
      font-style: italic;
  }

  .book-cover {
      width: 80%;
      height: auto;
  }


/* General styling */

.display-none {
    display: none;
}

.pos-rel{
    position: relative !important;
}


@media screen and (min-width: 768px) {
    
    /* Navbar changeover */

    #is-desktop {
        display: flex;
    }

    #isMobile {
        display: none;
    }

    
    .mainBody {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 60px;
    }
    
    .searchElements {
        border: 2px solid black;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 2px 2px 5px #49274A;
        width: 50%;
        text-align: center;   
        font-size: 20px;
    }

    .searchFields {
        height: 22px;
        font-size: 20px;
    }

    .radio-buttons {
        text-align: left;
        padding-left: 25%;
    }

    #searchBtn {
        font-size: 18px;
    }
    
    

    .grid-container {
              
        font-size: 16px;
        width: 90%;
        float: right;        
        
    }

    .modal-content {
        min-height: 450px;
    }
    
    .new-modal-content {
        display: block;
    }

    .book-cover {
        float: left;
        width: 40%;
        height: auto; 
        max-width: 300px;
        max-height: 600px;       
        margin-right: 20px;
    }

    
    

    @media screen and (min-width: 1024px) {

        
        
        .image {
            
            width: 150px;
        } 

    }

    /* Alternate between image sizes shown */
    .small-image {
        display: none;
    }

    .large-image {
        display: block;
    }

    .title-text, .author-text, .columnHeaders {
        font-size: 22px;
    }
    
    .title-text {
        max-height: 135px;
    }
    
    .author-text {
        max-height: 54px;
        font-style: italic;
    }

    .fas {
        font-size: 40px;
    }

}